h1 {
    color: rgb(123, 114, 201);
    font-size: 24px;
    font-family: Geneva, sans-serif;
    background-color: black;
}
h2 {
    color: rgb(123, 114, 201);
    font-size: 24px;
    font-family: Geneva, sans-serif;
    background-color:black ;
}
 p {
    color:whitesmoke;
    font-size: 18px;
    font-family: Geneva, sans-serif;
    background-color:black;
 }


}